body {
    margin: 0;
    font-family: "Heebo", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(36, 36, 39);
    background-image: url(../../assets/img/Protoshock_menu.png);
    backdrop-filter: brightness(0.5);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

@media (max-width: 768px) {
    body {
        background-position: left;
    }
}

img {
    width: 100%;
    height: 100%;
}

.btn {
    padding: 10px 15px;
    background-color: #00FFFF;
    color: #fff;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.logo {
    margin-bottom: 20px;
}

content {
    min-width: 10vw;
    width: 30rem;
    max-width: 90vw;
}

.center {
    text-align: center;
}

.card {
    box-shadow: 1px 4px 15px #0005;
    background-color: #3535359a;
    backdrop-filter: blur(25px);
    border-radius: 5px;
    border: 1px solid #555;
    padding: 1rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.links {
    padding: 25;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.links a {
    display: block;
    width: 3rem;
    padding: 0.5rem;
}

.links a:hover {
    opacity: 0.7;
}

.popup-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    animation: slide-up 0.5s ease-out;
}

.popup-image {
    z-index: 999;
    width: 50px;
    height: auto;
}

/* Slide-up animation keyframes */
@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}